#
.env
docker-compose.yml

#
#!guacamole/certificates/*.crt
#!guacamole/certificates/*.cer
guacamole/drive/
guacamole/record/

#
guacamole/java/*

#
misc/*
!misc/*.sh
!misc/Links.txt

#
nginxproxy/acme/
nginxproxy/certs/
nginxproxy/html/errors/*
!nginxproxy/html/errors/*.html

#
postgres/backup/*.sql
postgres/postgres_*/